{% extends 'layout.html' %}
{% load static %}
{% block title %}Blogs{% endblock title %}
{% block blogactive %}active{% endblock blogactive %}
{% block body %}
<div class="container my-5 text- ">
    <div class="row ">
        <div class=" blog-head col-md-8 mx-auto mb-0 bg- rounded-top mb-5 py-2">
            <h1 class="text-center  bhtext border-bottom">All Blogs are Here that You Want</h1>
        </div>

    </div>
    <div class="row">
        {% for blog in page_obj %}
        <div class="com-md-12 col-12">
            <div class="media my-3">
                <img class="mr-3" src={{blog.image.url}} width="250px" height="150px" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0"><a href="/post/{{blog.slug}}" class="text-dark">{{blog.title}}</a></h5>
                    {{blog.content|safe|slice:200}} ..... <br>
                    <button class="btn btn-success my-2"><a href="/post/{{blog.slug}}" class="text-dark">Read More...</a></button>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
<nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"> {% if page_obj.has_previous %}
                <a href="?page={{page_obj.previous_page_number}}" class="page-link">Previous</a>
                {% endif %}
            </li>
            <li class="page-item"><a class="page-link" href="#">{{page_obj.number}}</a></li>
            
            <li class="page-item">{% if page_obj.has_next %}
                <a href="?page={{page_obj.next_page_number}}" class="page-link">Next</a>
                {% endif %}
            </li>
        </ul>
    </nav>

</div>
{% endblock  %}
